@mixin primary-button($bg-color, $bg-hover, $text-color) {
    .primary-button {
        background-color: $bg-color;
        height: 100%;
        padding: 10px 20px;
        border-radius: 9px;
        transition: all 0.3s;

        >a {
            text-decoration: none;
            color: $text-color;
        }

        &:hover {
            background-color: $bg-hover;
        }
    }
}