/* use this sheet to change layout*/

@use '../utilities/colors';
@use '../utilities/breakpoints';
@use '../utilities/variables';

* {
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: rgb(30, 30, 30);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: colors.$background-primary;
    min-height: 80px;
    height: 80px;
    padding: 0 variables.$padding-at-sides;
    overflow-x: hidden;

    // border: 2px solid rgb(0, 0, 0);
    @media (max-width: breakpoints.$mobile) {
        .main-nav {
            display: none;
        }

        .burger-menu {
            display: flex;
        }
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    // border: 10px solid rgb(200, 0, 0);
    overflow-x: hidden;
}

.main-content>section {
    display: flex;
    min-height: 100px;
    border: 3px solid seagreen;
    overflow-x: hidden;
}

.footer {
    display: flex;
    height: 100px;
    border: 10px solid rgb(0, 0, 200);
    overflow-x: hidden;
}