/* use this sheet to change layout*/

* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    min-height: 60px;
    border: 10px solid rgb(0, 0, 0);
}

.main-content {
    display: flex;
    flex-direction: column;
    border: 10px solid red;
}

.main-content>section {
    display: flex;
    height: 400px;
    border: 6px solid black;
}

.footer {
    display: flex;
    height: 250px;
    border: 10px solid blue;
}